NET "START" LOC = P35;
NET "PAUSE" LOC = P34;
NET "STOP" LOC = P32;
NET "FULL" LOC = P36;
NET "EMPTY" LOC = P33;
NET "RESET" LOC = P37;
NET "LOAD_IN" LOC = P15;
NET "MINUTE_INPUT[0]" LOC = P90;
NET "MINUTE_INPUT[1]" LOC = P88;
NET "MINUTE_INPUT[2]" LOC = P85;
NET "MINUTE_INPUT[3]" LOC = P82;
NET "MINUTE_INPUT[4]" LOC = P78;

NET "LOAD_OUT" LOC = P16;
NET "IDLE" LOC =  P77;
NET "WASH" LOC = P83;
NET "SPIN1" LOC = P89;
NET "RINSE" LOC = P3;
NET "SPIN2" LOC = P13;
NET "HOT" LOC = P84;
NET "COLD" LOC = P6;
NET "DRAIN" LOC = P93;
NET "TURN" LOC = P86;

NET "SEVSEG_CONTROL[7]" LOC = P61;
NET "SEVSEG_CONTROL[6]" LOC = P60;
NET "SEVSEG_CONTROL[5]" LOC = P57;
NET "SEVSEG_CONTROL[4]" LOC = P59;
NET "SEVSEG_CONTROL[3]" LOC = P56;
NET "SEVSEG_CONTROL[2]" LOC = P52;
NET "SEVSEG_CONTROL[1]" LOC = P49;
NET "SEVSEG_CONTROL[0]" LOC = P50;

NET "SEVSEG_DATA[6]" LOC = P71;
NET "SEVSEG_DATA[5]" LOC = P62;
NET "SEVSEG_DATA[4]" LOC = P65;
NET "SEVSEG_DATA[3]" LOC = P72;
NET "SEVSEG_DATA[2]" LOC = P73;
NET "SEVSEG_DATA[1]" LOC = P98;
NET "SEVSEG_DATA[0]" LOC = P64;

NET "MCLK" LOC = P40;
