
# PlanAhead Generated physical constraints 

NET "ELEMENT_INPUT[9]" LOC = P78;
NET "ELEMENT_INPUT[8]" LOC = P82;
NET "ELEMENT_INPUT[7]" LOC = P85;
NET "ELEMENT_INPUT[6]" LOC = P88;
NET "ELEMENT_INPUT[5]" LOC = P90;
NET "ELEMENT_INPUT[4]" LOC = P94;
NET "ELEMENT_INPUT[3]" LOC = P4;
NET "ELEMENT_INPUT[2]" LOC = P5;
NET "ELEMENT_INPUT[1]" LOC = P12;
NET "ELEMENT_INPUT[0]" LOC = P15;
NET "SAVED_LED[0]" LOC = P83;
NET "SAVED_LED[1]" LOC = P86;
NET "SAVED_LED[2]" LOC = P93;
NET "SAVED_LED[3]" LOC = P6;
NET "SEVSEG_CONTROL[7]" LOC = P61;
NET "SEVSEG_CONTROL[6]" LOC = P60;
NET "SEVSEG_CONTROL[5]" LOC = P57;
NET "SEVSEG_CONTROL[3]" LOC = P56;
NET "SEVSEG_CONTROL[4]" LOC = P59;
NET "SEVSEG_CONTROL[2]" LOC = P52;
NET "SEVSEG_CONTROL[1]" LOC = P49;
NET "SEVSEG_CONTROL[0]" LOC = P50;
NET "SEVSEG_DATA[6]" LOC = P71;
NET "SEVSEG_DATA[5]" LOC = P62;
NET "SEVSEG_DATA[4]" LOC = P65;
NET "SEVSEG_DATA[3]" LOC = P72;
NET "SEVSEG_DATA[2]" LOC = P73;
NET "SEVSEG_DATA[1]" LOC = P98;
NET "SEVSEG_DATA[0]" LOC = P64;
NET "RESET_BUTTON" LOC = P36;
NET "RESET_BUTTON" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "INPUT_MANAGER" LOC = P35;
NET "INPUT_MANAGER" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "SAVE_BUTTON" LOC = P34;
NET "SAVE_BUTTON" CLOCK_DEDICATED_ROUTE = FALSE;
NET "MCLK" LOC = P40;
